In [1]:
import numpy as np
import pandas as pd

from os import path
import os
import glob
#from wordcloud import WordCloud, STOPWORDS, ImageColorGenerator

import matplotlib.pyplot as plt

from IPython.display import clear_output
from IPython.display import display

from collections import OrderedDict, defaultdict

import json

import itertools

pd.set_option('display.max_rows', 1000)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)
pd.set_option('max_colwidth', 800)

In [6]:
data = pd.read_csv('/Users/michaelwilliams/Documents/MGH T32/Research/AB/Analysis/AB_Rural/Analytic Dataset/Address_Data/Pre_Geocode/AB_Baseline_AdressData_10.30.csv')
data.head(2)

   record_id                        addr_baseline                         addr_current
0          1         PO Box 208  Putney, VT 05346         PO Box 208  Putney, VT 05346
1          2  17 Fardon St.  Billerica, MA  01821  17 Fardon St.  Billerica, MA  01821

In [9]:
#check clean(er) "address_geocode" column by hand
#data.filter(regex='addr')

In [13]:
#Create new  unique ID that is a string, easier to preserve 
data["id_AB"] = data["record_id"].astype(str) + "_AB"
print(data.dtypes)
data.filter(regex='id').head(5)

record_id         int64
addr_baseline    object
addr_current     object
id_AB            object
dtype: object

   record_id id_AB
0          1  1_AB
1          2  2_AB
2          4  4_AB
3          5  5_AB
4          6  6_AB

In [12]:
data.to_csv('AB_Addresses_PreGeocode.csv', index=False)